<div class="skill">

<nz-divider [nzText]="skill.mainTitle"></nz-divider>

<h1>{{skill.subTitle}}</h1>
<br>

<div class="skill-content" *ngFor="let skillContent of skill.content">
  <h2 *ngIf="skillContent.subTitle">{{skillContent.subTitle}}</h2>
  {{getSubSkillContent(skillContent.subContent)}}
  <br>
  <br>
</div>
<br>

<h2>Projet lié à cette competence :</h2>
<div *ngFor="let linkedProject of skill.linkedProject">
  <h3>
    <a (click)="redirect(linkedProject.redirect)">{{linkedProject.name}}</a>
  </h3>
</div>

<nz-divider></nz-divider>
</div>
