<nz-divider nzText="Pick’N’Trip"></nz-divider>
<h1>
  Pick’N’Trip - Besoin de vacances ? Just Pick’N’Trip !
</h1>
<br>

<h2> 1.	Le Projet </h2>

Pick’N’Trip est un gestionnaire de voyage.
Il permet à un groupe de personnes d’organiser leurs voyages en amont.
Vous pouvez débattre pour choisir une destination, choisir un moyen de transport vers la destination, ainsi que les logements.
Pick’N’Trip vous aide aussi pendant vos voyages, ajoutez vos dépenses et gérer les dettes entre les membres du groupe !

<h2>2.	Les Objectifs et Contexte</h2>
Ce projet devait être réaliser durant le cours de notre semestre 4 afin de nous apprendre à
concevoir une SPA (Single Page Application) et de nous perfectionnez sur nos compétences techniques.
On avait l’objectif de réaliser un gestionnaire de voyage facilement utilisable par n’importe quel public.


<h2>3.	Enjeu et Risques</h2>
L’enjeu de ce projet était le passage au semestre supérieur.Il y avait 2 risques avec ce projet : <br>
•	La communication avec les API externes non payantes qui allaient être le cœur de notre projet.<br>
•	Si le projet échouait cela pouvait peser sur la décision sur notre passage en semestre supérieur.<br>

<h2>4.	Ce que j’ai accompli</h2>

Sur ce projet j’ai pu faire de nombreuses choses :<br>
•	Intégration de Signal R sur l’ensemble des fonctionnalités afin de pouvoir avoir de l’interaction dynamique sur le site.<br>
•	Communication avec des API externes pour accéder à des réelles données venant de différents sites de voyages.<br>
•	Conception du système de sondage et de notification pour pouvoir se décider et de proposer entre personnes et aussi d’être informer en temps réel sur les choix du groupe.<br>
•	Ajout d’un gestionnaire de photo qui permet de partager les photos de son voyage<br>
•	Prise en main d’Element UI afin de faire le design du site<br>

<h2>5.	Les Acteurs</h2>
Le projet visait toutes sortes de personne voulant partir en voyage en groupe. C’était un site tout public.

<h2>6.	Résultat et avenir </h2>

Ce projet nous aura pris 35 jours de travail par personne en sachant que l’on était 4 à faire ce projet.
Nous avons présenté ce projet à notre forum des projets informatique de notre école et nous somme arriver 4eme sur 30 projets.

<h2>7.	Regard Critique</h2>

Ce projet m’a permis de découvrir beaucoup d’aspect du web que je n’avais pas conscience avant comme les dépendances en web ou bien le cycle de vie d’une application. J’ai pu apprendre à utiliser la websocket Signal R mais aussi travailler avec des API externes.<br>
<br>
<h3>Competences lié à ce projet : </h3>
<a class="redirect" [routerLink]="['/skill-soft']">Esprit D'equipe</a>
<nz-divider></nz-divider>
