<h1>Bienvenue !</h1>

<div class="me">

  <div class="my-prez">
    <p>
      Je m’appelle Dan Chiche, j’ai 23 ans et je suis en 5ème année à IN'TECH, école d'ingénierie informatique, dans le
      but d'obtenir mon diplôme en ingénierie du logiciel. <br>
      On dit de moi que je suis une personne persévérante dans tous ce que j’entreprends et aussi une personne altruiste
      et impliquée. <br>
      En effet je n’abandonne jamais quand j’ai un objectif en tête, je suis quelqu’un qui aide énormément dans la vie
      en
      général et enfin je suis toujours à fond quand je suis dans un projet en entreprise.<br>
    </p>

    <p>
      Mon objectif dans la vie est de pouvoir vivre pleinement, sans regret, et de profiter de tout ce que m’offre le
      monde.<br>
      J’adore le cinéma, les mangas et les jeux-vidéo, ce sont 3 domaines que j’admire énormément et qui me font rêver
      grâce à la qualité d’écriture de certaines œuvres qui me transporte sur une vague d’émotion et de créativité
      rafraichissante. <br>
      Je citerais comme œuvres le manga Death Note qui est pour mon coup de cœur depuis maintenant 10 ans déjà mais
      aussi
      The Last Of Us un jeu-vidéo très prenant d’émotion et enfin les aventures de Pirates des Caraïbes.<br>
    </p>

    <p>
      Apres une déscolarisation au lycée dû à de nombreux évènement tragique, j’ai décidé de me reprendre en main. <br>
      Ayant un fort intérêt dans l’informatique, j’ai décidé d’intégrer IN’TECH en 2018. <br>
    </p>

    <p>
      Cette décision m’a de nouveau repris gout à l’école et me suis orienté vers leur cursus d’ingénierie logiciel.
      <br>
      Effectivement, l’ambiance de l’école et la mise en valeur des élèves pour leur travail effectué, m’a redonné un
      gain
      de confiance en moi et sur ce que je produisais.<br>
      J’ai au cours des semestres choisit leur cursus car j’avais en tête de développer des jeux-vidéo et l’ingénierie
      du
      logiciel convenait parfaitement à ça.<br>
    </p>

    <p>
      J’ai pu acquérir grâce à ce cursus de nombreuses compétences techniques comme le C# ou le TypeScript mais aussi
      des
      compétences transverses comme l’esprit d’équipe et la communication.<br>
    </p>

    <p>
      Aujourd’hui je suis en alternance à Signature Code ou je perfectionne mes compétences et en apprend de nouvelles
      comme Angular qui utilise le TypeScript ou encore l’utilisation d’Azure.
    </p>

    <p>
      Pour l’avenir j’aimerais acquérir des compétences en tant que Gameplay Programmer pour avoir une chance de
      participer à un projet qui lierait 2 de mes centres d’intérêt : les mangas et jeux-vidéos.
    </p>


  </div>

</div>
